.rules-container{
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100dvh;

  .rules{
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    width: max(200px, 85vw);
    height: max(360px, 68%);
    padding: 2% 4%;
    border-radius: 20px;
    background-color: var(--mainColor2); 
  }

  .understood-button{
    font-size: clamp(10px, 2vh, 24px);
    display: flex;
    place-content: center;
    place-items: center;
    height: 20%;
    margin-top: max(0.5%, 10px);
    background-color: var(--buttonColor2);
    border: none;
    border-radius: 20px;
    padding: clamp(20px, 3%, 40px) clamp(20px, 5%, 200px);
    color: whitesmoke;
    transition: background-color 0.12s;
    cursor: pointer;

    &:hover{
      background-color: var(--buttonColor1);
    }
  }

  ul{
    width: 100%;
    margin: 4%;
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  ul li{
    margin: 1% 0;
  }  
}

.main-game{
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;

  .score-and-timer{
    position: absolute;
    top: 2%;
    left: 2%;

    .curr-score{
      .score{
        color: orange;
      }
    }

    .timer{
      .time{
        color: #ff0112;
      }
    }
  }

  .hint-container{
    max-width: 25vw;
    font-weight: bold;
    font-size: 2.5vw;
    overflow: hidden;
    border-radius: 40px;
    padding: 5vh 0;
  }
  
  .act-hint{
    font-weight: normal;
  }
  
  .hint-button{
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 1vh;
    right: 1vw;
    z-index: 101;
    overflow: hidden;
  
    &:hover{
      cursor: pointer;
    }
  }
  
  .hint-button img{
    object-fit: cover;
    height: 6vh;
    width: 6vh;
  }
  
  .mobile-hint-container{
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 10vh 0;
    z-index: 100;
  }
  
  .mobile-hint-container > .hint-container{
    text-align: left;
    font-size: large;
    padding: 3vw;
    max-height: 80vh;
    max-width: 30vw;
    background-color: var(--mainColor2);
  }
  
  .mobile-hint-container .hint{
    font-size:clamp(0.2em, 3vw, 2em);
  }
  
  .overall{
    animation: fade-in 0.8s ease-in;
    min-width: 350px;
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    max-width: 100vw;
    padding: 2vw;
    gap: 4%;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80%;
    gap: 6%;
    padding: 5vh 3vw 9vh 3vw;
    background-color: var(--mainColor2);
    border-radius: 4vh;
    animation: floating 4s ease-in-out infinite;
    box-shadow: 15px 20px 20px 5px rgba(0, 0, 0, 0.7);
  }
  
  .entry{
    background-color: var(--subColor2);
    width: 100%;
    border-radius: 2vh;
    place-items: center;
    min-height: 20%;
    padding: 3%;
    gap:4%;
  }
  
  .entry .letter{
    animation: none;
  }
  
  .letters{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    flex: 1;
    padding: 0 1%;
    gap: 4% 5%;
  }
  
  .letter{
    font-size: large;
    font-weight: bold;
    color: var(--subColor2);
    animation: dance 3.5s linear infinite;
    width: clamp(50px, 100%, 200px);
    height: clamp(50px, 100%, 80px);
    background-color: var(--buttonColor3);
    padding: 0.5%;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 0px 20px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.12s, color 0.12s;
  
    &:hover{
      background-color: var(--buttonColor1);
      color: var(--font-color2);
    }

    &:active{
      background-color: var(--buttonColor2);
      color: var(--font-color2);
    }
  }  
  
  @media (min-width:600.5px) {
    .hint-container{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .container{
      min-width: 381px;
      max-width: 600px;
    }
  
    .mobile-hint-container{
      display: none;
     }
  
    .hint-button{
      display: none;
    }
  }
  
}

.end-game{
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(20px, 10vw, 200px);

  .score-display{
    
  }

  .game-comment{
  } 

  .player-score{
    color: red;
  }

  .try-again{
    background-color: var(--buttonColor1);
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    font-size: clamp(20px, 10vw, 200px);
    padding: 2vh 20vw;
    min-width: 100px;
    min-height: 40px;
  }
}


@media (max-width:600px) {
 .wide-screen{
  display: none;
 }

 .mobile-hint-container{
  display: none;
 }

 .container{
  min-width: 300px;
  max-width: 400px;
 }

 .hint-button{
  display: flex;
 }
}
