@keyframes fade-in {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes fade-out {
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0%{
    opacity: 0;
  }

  40%{
    opacity: 1;
  }

  80%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

@keyframes dance {
  25%{
    transform: rotate(-5deg);
  }

  75%{
    transform: rotate(10deg);
  }
}

@keyframes floating {
  50%{
    transform: translateY(1vh);
  }
}

@keyframes bounce-out-left{
  20%{
    scale: 150%;
    transform: rotate(-30deg);
  }

  60%{
    scale: 150%;
    transform: rotate(-30deg);
  }
}

@keyframes bounce-out-right{
  20%{
    scale: 150%;
    transform: rotate(30deg);
  }

  60%{
    scale: 150%;
    transform: rotate(30deg);
  }
}

@keyframes bounce-out{
  20%{
    scale: 150%;
  }

  60%{
    scale: 150%;
  }
}