:root{
  --mainColor1: #03624c;
  --mainColor2: #023126;
  --subColor1: #024838;
  --subColor2: #061d19;
  --fontColor1: whitesmoke;
  --buttonColor1: #082929;
  --buttonColor2: #030f0f;
  --buttonColor3:#0e5454;
}