:root{
  --mainColor1: #36008d;
  --mainColor2: #22084d;
  --subColor1: #2b0a5f;
  --subColor2: #000000;
  --fontColor1: whitesmoke;
  --buttonColor1: #160829;
  --buttonColor2: #000000;
  --buttonColor3:#e0e0e0;
}